<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="search content">
            <form action="/search" method="POST">
                </br> 
                <% if (theResults.length > 0) { %>
                    <% theResults.forEach(item => { %>
                        <b>Title:</b> <%= item.title %> </br>
                        <b>Publisher:</b> <%= item.publisher %> </br>
                        <b>Release Year:</b> <%= item.release_year %> </br>
                        <b>Price:</b> $<%= item.price %> </br>
                        <b>Category ID:</b> <%= item.category_id %> </br>
                        <b>Stock Quantity:</b> <%= item.stock_quantity %> </br>
                        <hr>
                    <% }) %>
                <% } else { %>
                    <p>No search results.</p>
                <% } %>
                </br><label>Auto Search:</label></br>
                <label>Keyword:
                    <input type="text" id="keyword" name="keyword" value="<%= locals.keyword %>" required>
                </label>
                </br>
                <label for="database">Choose Database:</label>
                <select id="database" name="database">
                    <option value="mongo">MongoDB</option>
                    <option value="postgres">PostgreSQL</option>
                </select>
                </br>
                <button>POST</button>
            </form>
        </div>
       
        </br>
        <%- include('./partials/auth.ejs') %>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>